<div class="page-static-general">
  <header>

  </header>

  <section class="page-about text-center">
    <section class="section-header">
      <h1>What is Storyhoot?</h1>
      <h2>Check our 1-minute video to find out</h2>
    </section>
  </section>
</div>