<div class="row">
  <div class="large-4 large-centered columns custom-form">
    <h3 class="text-center">Enter your new password</h3>
    <%= form_tag password_reset_path, method: :put do %>
      <%= password_field_tag :new_password, nil, placeholder: 'New Password' %>
      <%= password_field_tag :confirm_password, nil, placeholder: 'Confirm Password' %>
      <div class="text-center">
        <%= submit_tag 'Change Password', class: 'button tiny radius' %>
      </div>
    <% end %>
  </div>
</div>
