<h3>Hi,</h3>

<h4>You have successfully activated your Storyhoot account.</h4>

<p>You can login to Storyhoot by follwing the link below</p>

<%= link_to 'Login to Storyhoot', @url %>

<p>Regards, Storyhoot Support</p>
