<h3>Hi,</h3>

<h4>Thanks for registering at Storyhoot</h4>

<p>You will need to activate your account to use it. To do so, visit the link below</p>

<%= link_to 'Activate my account', @url %>

<p>Regards, Storyhoot Support</p>
