<h3>Hi,</h3>

<h4>A password reset was request from this email id. If it was not you, feel free to ignore this email.</h4>

<p>If it was you, then click the link given below to reset your password.</p>

<%= link_to 'Reset Password', edit_password_reset_url(@user.password_reset_token) %>

<p>Regards, Storyhoot Support.</p>
