<div class="row">
	<div class="large-4 columns large-centered custom-form">
    <div class="text-center">
      <%= link_to image_tag('logo_storyhoot.png'), root_path %>
    </div>
		<%= render 'shared/sign_up' %>
    <p class="text-center">
      Have an account already?
      <br>
      <%= link_to 'Sign in here.', login_path %>
    </p>
	</div>
</div>
