<section id="splash-page-navbar">
  <div class="clearfix">
    <div class="left">
      <%= link_to image_tag('brand.jpg', class: 'logo'), '#' %>
    </div>
    <div class="right">
      <%= link_to image_tag('b.jpg', class: 'logo'), '#' %>
    </div>
  </div>
</section>