<div class="row-collapse" id="discover-page">
  <% @books.each do |book| %>
    <div class="large-3 medium-4 small-4 columns end">
      <%= link_to image_tag(book.cover.url), book %>
    </div>
  <% end %>
</div>