<div class="row collapse" id="new-gif-page">
  <h1 class="text-center">How would you like to create your GIF?</h1>
  <div class="large-4 medium-4 small-12 columns text-center gif-type-icon-container">
    <%= link_to gif_maker_pictures_path do %>
      <span>
        <i class="fi-camera"></i>
        <p>
          From two or more pictures
        </p>
      </span>
    <% end %>
  </div>
  <div class="large-4 medium-4 small-12 columns text-center gif-type-icon-container">
    <%= link_to gif_maker_video_path do %>
      <span>
        <i class="fi-video"></i>
        <p>
          From a video
        </p>
      </span>
    <% end %>
  </div>
  <div class="large-4 medium-4 small-12 columns text-center gif-type-icon-container">
    <%= link_to gif_upload_path do %>
      <span>
        <i class="fi-page"></i>
        <p>
          Just upload one
        </p>
      </span>
    <% end %>
  </div>
</div>