.gif-maker-option {
  width: 100%;
  padding-top: 5%;
  a.button {
    width: 100%;
    padding: 20px;
    height: 60px;
  }
}

#new-gif-page {
  padding: 4%;
  i {
    font-size: 10rem;
  }
  h1 {
    margin: 20px 0 50px 0 ;
    line-height: 1.2;
    font-size: 34px;
    font-weight: 300;
    color: #383838;
  }
  p {
    line-height: 1.2;
    font-size: 22px;
    font-weight: 300;
    color: #303030;
    opacity: 0.7;
    padding: 10px;  
  }

  .gif-type-icon-container {
    margin-bottom: 100px;
  }
}

body#gif-maker-body {
  background: white;

  div#loading-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.8;
    padding: 20%;
  }

  div#gif-maker-pictures-container, div#gif-maker-video-container, div#gif-upload-container {
    padding: 4%;

    h3, h4, p {
      line-height: 1.2;
      font-size: 22px;
      font-weight: 300;
      color: #303030;
      opacity: 0.7;
      margin: 10px 0;
    }

    input#upload-images-file-input, input#upload-video-file-input, input#upload-gif-file-input {
      background: white;
      padding: 10px;
      border: 1px solid #BDBDBD;
      border-radius: 10px;
    }

    .custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }
    .custom-file-input::before {
      content: 'Upload';
      display: inline-block;
      background: #1fa686;
      border-radius: 3px;
      padding: 10px 15px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 10pt;
      color: white;
    }
    .custom-file-input:hover::before {
      border: none;
    }

    img.uploaded-image {
      padding: 20px;
    }
  }

  .gif-maker-bordered-container {
    margin: 10% 0;
    padding: 5%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
  }

  #create-button-container {
    width: 100%;
  }

  #save-gif-form {
    display: none;
    input[type="submit"] {
      width: 100%;
    }
  }
}
