div.landing-template {
  padding-top: 5%;
  min-height: 100vh;
  background-image: image-url('bg4.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; 
}

div.landing-header {
  position: relative;
  min-height: 100vh;

  div.landing-text {
    width: 100%;
    position: absolute;
    padding-top: 10%;
    padding-bottom: 10%;

    h3 {
      font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      color: white;
      font-size: 2rem;
      text-shadow: 1px 1px 15px #010;
    }

    #bounce {
      padding: 25px;
      position: relative;
      i {
        color: #bec3c7;
        font-size: 2rem;
      }
      -webkit-animation: bounce 1.5s ease-in-out infinite;
      -moz-animation: bounce 1.5s ease-in-out infinite;
      -o-animation: bounce 1.5s ease-in-out infinite;
      animation: bounce 1.5s ease-in-out infinite;
    }
  }

  div#landing-links {
    position: absolute;
    top: 80%;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@-webkit-keyframes bounce {
  0%   { -webkit-transform: translateY(0%) }
  50%  { -webkit-transform: translateY(10px) }
  100% { -webkit-transform: translateY(0%) }
}
@-moz-keyframes bounce {
  0%   { -moz-transform: translateY(0%) }
  50%  { -moz-transform: translateY(10px) }
  100% { -moz-transform: translateY(0%) }
}
@-o-keyframes bounce {
  0%   { -o-transform: translateY(0%) }
  50%  { -o-transform: translateY(10px) }
  100% { -o-transform: translateY(0%) }
}
@keyframes bounce {
  0%   { transform: translateY(0%) }
  50%  { transform: translateY(10px) }
  100% { transform: translateY(0%) }
}

div#about {
  min-height: 100vh;
  background: #34495e;

  h3 {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: white;
    font-size: 1.5rem;
  }

  p {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: white;
    font-size: 1rem;
  }

  div {
    padding-top: 5%;
  }

  img#nexus-mockup {
    width: 80%;
  }

  img#play-vector {
    width: 70%;
  }
}

footer.landing-footer {
  position: relative;
  background: #273A4D;
  padding: 10px;
  a {
    padding: 10px;
    color: #bec3c7;
  }
}